.about{
    margin: 20px 0px;
    padding: 20px;
    margin-left: 200px;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-img img{
    margin-top: 40px;
    border-radius: 10px;
    width: 70%;
    height: 400px;
   
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content h1{
    color: grey;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;
}
.about-content p{
    text-align: justify;
    padding: 20px;
}