.home-container{
    height: 300px;
    color: white;
    padding-left: 150px;
   
}

.home-content h2{
    padding: 5px;
    padding-top: 70px;
    color: black;
    font-family: cursive;
    /* margin-left: 150px; */
}

.home-content h1{
    padding: 5px;
    color: red;
    font-family: cursive;
    /* margin-left: 150px; */
}

.home-buttons{
    /* margin-left: 150px; */
    margin-top: 20px;
}

.home-buttons .btn-hire{
    background-color: #138781;
    color: white;
    width: 160px;
}

.home-buttons .btn-hire:hover{
    background-color: white;
    color: #138781;
    width: 170px;
    transition: 0.75s;
    border: 3px groove #00fffc;
    box-shadow: 0 0 20px 5px;
}


.home-buttons .btn-cv{
    background-color: #f29f67;
    color: white;
    margin-left: 15px;
    width: 160px;
}

.home-buttons .btn-cv:hover{
    background-color: white;
    color: #f29f67;
    width: 170px;
    transition: 0.75s;
    border: 3px solid #00fffc;
    box-shadow: 0 0 20px 5px;
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
}

#dark .theme-btn{
    background-color: white;
    color: black;
}

#dark .home-content h2{
    color: white;
}

#dark .home-content h1{
    color: gold;
}