*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* dark mode */

#dark{
  background-color: rgba(0, 0, 0, 0.863);
}



/* ==============responsive--------- */

@media (max-width:600px){
  .footer{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}